@import "tailwindcss";

@theme {
  --font-sans: 'Work Sans', system-ui, sans-serif;
  
  --color-primary: #E64233;
  --color-primary-light: #FEE2E2;
  --color-primary-dark: #DC2626;
  
  --color-text-*: initial;
  --color-text: #676F7E;
  --color-text-heading: #252B37;
  --color-text-breadcrumb: #878790;
  
  --color-icon-*: initial;
  --color-icon-box: #E8EAED;
  --color-icon-linkedin: #34446F;
  
  --color-info-*: initial;
  --color-info-bg: #FEF3C7;
  --color-info-text: #B45309;

  --color-stroke: #DCDFE5;
  
  --color-percentage: #1B7E44;

  --color-hero-gradient: #23365C;
  
  --color-neutral-*: initial;
  --color-neutral-50: #F9FAFB;
  --color-neutral-100: #F3F4F6;
  --color-neutral-200: #E5E7EB;
  --color-neutral-300: #D1D5DB;
  --color-neutral-400: #9CA3AF;
  --color-neutral-500: #6B7280;
  --color-neutral-600: #4B5563;
  --color-neutral-700: #374151;
  --color-neutral-800: #1F2937;
  --color-neutral-900: #111827;
}

body {
  @apply bg-white antialiased;
}

@layer utilities {
  .animate-delay-100 {
    animation-delay: 100ms;
  }
  .animate-delay-200 {
    animation-delay: 200ms;
  }
  .animate-delay-300 {
    animation-delay: 300ms;
  }
  .animate-delay-400 {
    animation-delay: 400ms;
  }
}